# Configuration folder (may be conf/, config/, judge0/conf/, etc.)
**/*.conf

# Environment files – root or nested
**/.env

**/.venv/

**/dist/

**/*.egg-info

**/dist
**/__pycache__
**/*.pyc
.pytest_cache
*.db